{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template media_ableplayer/player

    Example context (json):
    {
        'originaltext' : $text,
        'title' : $title,
        'size' : 'size',
        'sources' : '$sources',
        'tracks' : 'individual tracks',
        'fallback' : 'fallback link',
        'isaudio' : 'false'
    }
}}
<div class="mediaplugin mediaplugin_ableplayer">
<{{#isaudio}}audio{{/isaudio}}{{^isaudio}}video{{/isaudio}} data-able-player data-skin="2020" playsinline {{^isaudio}}{{size}}{{/isaudio}} preload="auto" title="{{title}}">
    {{{sources}}}
    {{{tracks}}}
    {{{fallback}}}
</{{#isaudio}}audio{{/isaudio}}{{^isaudio}}video{{/isaudio}}>
</div>
<p>Here are the sources</p>
<table class="table table-bordered">
    <tr>
        <th scope="row">Media type:</th>
        <td>{{#isaudio}}Audio{{/isaudio}}{{^isaudio}}Video{{/isaudio}}</td>
    </tr>
    <tr>
        <th scope="row">Has poster?:</th>
        <td>{{#hasposter}}Yes{{/hasposter}}{{^hasposter}}No{{/hasposter}}</td>
    </tr>
    <tr>
        <th scope="row">Original text:</th>
        <td>{{text}}</td>
    </tr>
        <tr>
        <th scope="row">Title:</th>
        <td>{{title}}</td>
    </tr>
    <tr>
        <th scope="row">Size:</th>
        <td>{{size}}</td>
    </tr>
{{#arrsources}}
    <tr>
        <th scope="row">Source URL:</th>
        <td>{{src}}</td>
    </tr>
    <tr>
        <th scope="row">Source Type:</th>
        <td>{{type}}</td>
    </tr>
{{/arrsources}}
{{#arrtracks}}
    <tr>
        <th scope="row">Track:</th>
        <td>{{.}}</td>
    </tr>
{{/arrtracks}}
    <tr>
        <th scope="row">Fallback:</th>
        <td>{{{fallback}}}</td>
    </tr>
</table>
